@font-face {font-family: TB;src: local(BopomofoRuby1909-v1), url("fonts/bpmf.woff2");unicode-range: U+02B0-02FF,U+3100-312F;}
@font-face {font-family: TK;src: local(全字庫正楷體), url("fonts/twkai.woff2");unicode-range: U+0-02AF,U+0300-30FF,U+3130-FFFF;}
@font-face {font-family: TK-e;src: local(全字庫正楷體 Ext-B), url("fonts/twkaiex.woff2");unicode-range: U+10000-2FFFF;}

div.eduxzd { margin: 1rem 0; font-family:TB,TK,TK-e;}
div.eduxzd .index {font-size:2rem;}
div.eduxzd .radical {color:#666666;}
div.eduxzd .bopomo {color:#66AA66;}
div.eduxzd .hanyu {color:#FF6699;}
div.eduxzd .article {color:#000000;}
div.eduxzd .article .posp {color:#FFFFFF;background-color:#FF0000;display:inline-block;margin:0.5rem 0 0 0;padding:0.1rem 0.5rem;border-radius:0.2rem; }
div.eduxzd .article .item {background-color:#66CC99;display:inline-block; margin:0.1rem; padding:0.1rem; border-radius:0.5rem; }
div.eduxzd .article .subitem {color:#66CC99;display:inline-block; margin:0.1rem; padding:0.1rem; border-radius:0.5rem; }
div.eduxzd .article .pron {color:#663300;background-color:#FFCCAA;display:inline-block;margin:0.5rem 0;padding:0.5rem;}
div.eduxzd .article .mean {color:#000000;}
div.eduxzd .article ruby {font-size: 1.5rem;}
div.eduxzd .article ruby rt {font-family: TB;font-size: 30%;text-align: center;writing-mode: vertical-rl;text-orientation: upright;display: inline-block;vertical-align: middle;padding-right: 0.5rem;margin-top: -0.5rem;white-space: nowrap;}

div.eduxzd div.dictstory { font-style:bold;}
div.eduxzd div.dictstory .title { color:#663300;background-color:#FFCCAA;display:inline-block;margin:0.5rem 0;padding:0.5rem;}