/yzms/Intermediate/detail.csv
/yzms/Intermediate/yzms.csv
/yzms/Demo
/yzms/original/images20221025.zip
/yzms/original/detail20221025.zip
/yzms/01_Original/detail20221025.zip
/yzms/01_Original/images20221025.zip
/yzms/02_Intermediate/detail.csv
/yzms/02_Intermediate/yzms.csv
