@font-face{font-family:"BPMF";src:local("BopomofoRuby1909-v1-Regular"),url("fonts/bpmf.woff2") format("woff2");}
@font-face{font-family:"LOVF";src:local("LessonOneVF"),url("fonts/lovf.woff2") format("woff2");}
@font-face{font-family:"FS-0";src:local("FSung-p"),url("fonts/FS-0.woff2") format("woff2");unicode-range:U+0-FFFF;}

div.edujbb {position:relative;margin:1rem 0;font-family:"FS-0";}
div.edujbb .index {font-size:2rem;}
div.edujbb .radical {color:#666666;}
div.edujbb .bopomo {color:#66AA66;font-family:"BPMF";}
div.edujbb .hanyu {color:#FF6699;font-family:"LOVF";}
div.edujbb .synon {color:#0099CC;}
div.edujbb .synon .item {background-color:#66CC99;display:inline-block;margin:0.1rem;padding:0.1rem;border-radius:0.5rem;}
div.edujbb .anton {color:#AA6666;}
div.edujbb .anton .item {background-color:#66CC99;display:inline-block;margin:0.1rem;padding:0.1rem;border-radius:0.5rem;}
div.edujbb .article {color:inherit;}
div.edujbb .article .posp {color:#FFFFFF;background-color:#FF0000;display:inline-block;margin:0.5rem 0 0 0;padding:0.1rem 0.5rem;border-radius:0.2rem;}
div.edujbb .article .item {background-color:#66CC99;display:inline-block;margin:0.1rem;padding:0.1rem;border-radius:0.5rem;}
div.edujbb .article .subitem {color:#66CC99;display:inline-block;margin:0.1rem;padding:0.1rem;border-radius:0.5rem;}
div.edujbb .article .pron {color:#663300;background-color:#FFCCAA;display:inline-block;margin:0.5rem 0;padding:0.5rem;font-family:"BPMF","FS-0";}
div.edujbb .article .accent {color:#0000FF;}
div.edujbb .article .mean {color:inherit;}
div.edujbb .article .hlvar {color:#0000FF;display:inline-block;margin:0.5rem 0;padding:0.5rem;}
div.edujbb .article .hlacc {color:#0000FF;display:inline-block;margin:0.5rem 0;padding:0.5rem;}
div.edujbb .article .fl {color:#FFFFFF;background-color:#0000FF;display:inline-block;margin:0.1rem; padding:0.1rem;border-radius:0.2rem;}
div.edujbb .article .es {color:#FFFFFF;background-color:#FF0000;display:inline-block;margin:0.1rem; padding:0.1rem;border-radius:0.2rem;}
div.edujbb .article .as {color:#FFFFFF;background-color:#0000FF;display:inline-block;margin:0.1rem; padding:0.1rem;border-radius:0.2rem;}
div.edujbb .article .ad {color:#FFFFFF;background-color:#999900;display:inline-block;margin:0.1rem; padding:0.1rem;border-radius:0.2rem;}
div.edujbb .article .im {color:#FFFFFF;background-color:#009999;display:inline-block;margin:0.1rem; padding:0.1rem;border-radius:0.2rem;}
div.edujbb .article .pic {max-width:80%;}
div.edujbb .article .auth {color:inherit;}

div.edujbb table {border: 1px black solid;}
div.edujbb table th {border: 1px black solid; text-align:center; background-color: yellow;}
div.edujbb table tr td {border: 1px black solid;text-align:center;}
div.edujbb table tr td span.var {font-size: 2rem;}
div.edujbb table tr td span.varcode {color:red; font-size: 1rem;}
div.edujbb table tr td span.orth {font-size: 2rem;}
div.edujbb table tr td span.orthcode {color:red; font-size: 1rem;}

div.edujbb div.dictstory {font-style:bold;}
div.edujbb div.dictstory .title {color:#663300;background-color:#FFCCAA;display:inline-block;margin:0.5rem 0;padding:0.5rem;}
div.edujbb table.aliaslist {color:inherit;text-align:left;}
div.edujbb table.varcharlist tr td:nth-child(4) {color:inherit;text-align:left;}